$red: #b03223;

// General Styles
//==================================================================*/
body {
	background: #eeeeef;
}

#wrapper {
	background: #fff;
	@include rem('padding', 20px);
}

.shadow {
	@include box-shadow(0 0 18px 4px #d2d2d2);
}

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { *zoom: 1; }

.home {
	.icon {
		float: left;
		text-align: center;
		width: 45px;
		height: 45px;
		background: $red;
		@include border-radius(50%);

		img {
			margin-top: 12px;
		}
	}

	.link {
		float: left;
		clear: left;
		@include rem('line-height', 20px);
		@include rem('margin', 0 0 10px);

		span {
			float: left;
			@include font-size(27px);
			@include rem('margin', 5px 0 0 12px);
		}
	}

	a {
		color: $red;
	}

	.mainarea {
		width: 100%;
	}

	h1 {
		@include font-size(92px);
		color: $red;
		text-transform: uppercase;
	}

	p {
		@include font-size(19.5px);
		color: #7e7e7e;
		font-family: 'Helvetica', sans-serif;
		@include rem('margin-bottom', 20px);

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.images {
	p {
		display: inline-block;

		&:nth-child(even) {
			margin: 0 0 10px 10px;
		}
	}
}

// Header
//==================================================================*/
#logo {
	top: 241px;
}

header {
	padding-bottom: 8px;
}



// Columns
//==================================================================*/
.col2 {
	@extend .group;
	width: 49%;
	float: left;
	margin-left: 2%;
}
.col2:nth-child(1n + 1) {
	margin-left: 0;
}

/*
.home .col2 {
	@extend .group;
	width: 32%;
	float: left;
	margin-right: 2%;
	margin-left: 40px;
}
.col2:nth-child(2) {
	margin-right: 0;
	width: 54%;
	float: right;
}
*/

.col3 {
	width: 30%;
	margin-left: 1%;
	float: left;

	p {
		margin-bottom: 4px;
	}
}

.home .col3 {
	p img { width: 100%; height: auto; }
}

.col3:first-child {
	width: 38%;
	margin-left: 0;
}

.home .social {
	float: left;
	margin-top: 80px;
	width: 100%;
}

iframe {
	max-width: 100%;
}

// Slider
//==================================================================*/

.owl-carousel {

	.owl-item {
		position: relative;

		h2 {
			color: #fff;
			@include font-size(94.25px);
			font-weight: 400;
			position: absolute;
			left: 40px;
			text-transform: uppercase;
			top: 30px;
		}

		.link {
			background: #fff;
			position: absolute;
			right: 0;
			top: 45px;
			color: $red;
		}

		&.active .link {
		}
	}
}


// Navigation
//==================================================================*/
nav {
	background: none;
	@include rem('padding', 20px 0 0 30px);
	top: 344px;
	width: auto;

	ul {
		padding: 0;

		li {
			float: left;
			height: 75px;
			@include rem('margin-right', 16px);
			padding: 0;
			width: 75px;

			a {
				@include border-radius(50%);
				background: #fff;
				color: $red;
				display: block;
				height: 100%;
				@include rem('line-height', 76px);
				padding: 0;
				text-align: center;
				width: 100%;
				@include transition(0, .4, 'linear');

				&:hover {
					background: $red;
					color: #fff;
					@include box-shadow(0 0 0 6px #752117);
				}
			}
		}
	}
}

footer {
	@include rem('padding-bottom', 20px);

	.menu-main_nav-container {
		float: left;
		@include rem('margin-left', 230px);

		ul {
			padding: 0;

			li {
				float: left;
				height: 75px;
				@include rem('margin-right', 16px);
				padding: 0;
				width: 75px;

				a {
					@include border-radius(50%);
					background: #fff;
					color: $red;
					display: block;
					font-family: 'FuturaStd', sans-serif;
					font-weight: bold;
					height: 100%;
					@include rem('line-height', 76px);
					padding: 0;
					text-align: center;
					width: 100%;
					@include transition(0, .4, 'linear');

					&:hover {
						background: $red;
						color: #fff;
						@include box-shadow(0 0 0 6px #752117);
					}
				}
			}
		}
	}
}

// Contact
//==================================================================*/
.contact {
	header {
		display: none;
	}

	.contact-header {
		text-align: center;
		background: $red;
		height: 413px;
		width: 100%;

		.logo {
			display: inline-block;
			margin-top: 124px;
		}
	}

	.mainarea {
		float: none;
		margin: 0 auto;
		width: 500px;
	}
}


.links-list {
	margin: 60px 0 0;

	li {
		float: left;
		margin-bottom: 20px;
		position: relative;
		width: 100%;

		img {
			float: left;
			margin: -20px 20px 0 0;
		}

		span, a {
			color: $red;
			float: left;
			@include font-size(41px);
			margin-top: 20px;
			text-decoration: none;
		}

		&.phone {
			a, span {
				margin-top: 0;
				@include font-size(59px);
			}
		}
	}
}

